<div id="recipe-create-update">
<%= form_for [@user, @recipe] do |f| %>
  <%= f.text_field :category, placeholder:"Category", class:"form-add-recipe" %><br />
  <%= f.text_field :title, placeholder:"Title", class:"form-add-recipe" %><br />
  <br />

  <div id="ingredient-field">
    <%= f.fields_for :ingredients do |builder| %>
    <%= render "ingredient_fields", f: builder %>
    <% end %><br />
    <%= link_to_add_fields "Add Ingredient", f, :ingredients %><br />
  <br />
  </div>

  <div id="steps-field">
    <%= f.fields_for :steps do |builder| %>
    <%= render "step_fields", f: builder %>
    <% end %><br />
    <%= link_to_add_fields "Add Step", f, :steps %><br />
  <br />
  </div>

  <%= f.text_area :notes, placeholder:"Notes", rows:"3", cols: "65", class:"form-add-recipe" %><br />
  <%= f.submit @recipe.id.nil? ? "Create Recipe" : "Update Recipe", class:"splash-button" %>
<% end %>
</div>