<% if session["user_id"].nil? %>
<nav>
  <ul>
    <div class='nav-right'>
      <li><%= link_to "Back", root_path %></li>
    </div>
  </ul>
</nav>
<% end %>

<div class="user-page-container">

  <div class="book-options">
    <%= form_for [@user, RecipeBookEntry.new] do |f| %>
    <%= hidden_field_tag :recipe_id, @recipe.id %>
    <%= select_tag :recipe_book_id, options_for_select(@books.collect{ |b| [b.title, b.id] }), class:"options-menu" %><br />
    <br />
    <%= f.submit "Save to Book" %>
    <% end %>
  </div>

  <div class="middle-container">

    <div class="flash-message">
     <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
    </div>
    
    <% unless session["user_id"].nil? %>
    <div class="add-recipe-to-book" title="Add to Recipe Book">
      <%= image_tag 'plus.png' %>
    </div>
    <% end %>

    <div class="center-titles">
      <h1><%= @recipe.title %></h1>
      <button id='start-reading' class='splash-button'>Begin</button>
    </div>

    <div class="page-left-recipe-container">
      <h4>Ingredients</h4><br />
      <ul>
        <% @ingredients.each do |ingredient| %>
        <li><%= ingredient.entry %></li>
        <% end %>
      </ul>
    </div>

    <div class="page-right-recipe-container">
      <h4>Directions</h4><br />
      <ul>
        <% @steps.each do |step| %>
        <li><%= step.instructions %></li>
        <% end %>
      </ul>
    </div>

    <div class="recipe-notes">
      <h3>Notes</h3>
      <p><%= @recipe.notes %></p>
    </div>

    <% unless session["user_id"].nil? %>
      <div class="update-link">
        <button class="splash-button"><%= link_to "Edit Recipe", edit_user_recipe_path(session["user_id"], @recipe) %></button>
      </div>
    <% end %>

  </div>
</div>

<script>
  Recispeak.steps = <%= raw @allsteps %>;

  $('.add-recipe-to-book').click(function(){
    $('.book-options').toggle("slow")
  });

</script>

<%= javascript_include_tag "speech", "data-turbolinks-track" => true %>
