<% if session["user_id"].nil? %>
  <nav>
    <ul>
      <div class='nav-right'>
        <li><%= link_to "Back", root_path %></li>
      </div>
    </ul>
  </nav>
<% end %>

<div class="user-page-container">
  <div class="middle-container">

    <div class="flash-message">
     <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
    </div>
    
    <% unless session["user_id"].nil? %>
      <div class="add-recipe-to-book" title="Add to Recipe Book">
        <%= image_tag 'plus.png' %>
      </div>
    <% end %>

    <div class="book-options">
      <%= form_for [@user, RecipeBookEntry.new] do |f| %>
      <%= hidden_field_tag :recipe_id, @recipe.id %>
      <%= select_tag :recipe_book_id, options_for_select(@books.collect{ |b| [b.title, b.id] }), class:"options-menu" %><br />
      <br />
      <%= f.submit "Save to Book" %>
      <% end %>
    </div>

    <div class="center-titles">
      <h1><%= @recipe.title %></h1>
      <button id='start-reading' class='splash-button'>Begin</button>
    </div>

    <div class="page-left-recipe-container">
      <h4>Ingredients</h4><br />
      <ul>
        <% @ingredients.each do |ingredient| %>
        <li><%= ingredient.entry %></li>
        <% end %>
      </ul>
    </div>

    <div class="page-right-recipe-container">
      <h4>Directions</h4><br />
      <ul>
        <% @steps.each do |step| %>
        <li><%= step.instructions %></li>
        <% end %>
      </ul>
    </div>

    <% unless session["user_id"].nil? %>
    <div class="comment-notes-links">
      <p class='note-link'>Notes</p>
      <p class='comment-link'>Comments</p>
    </div>
    <% end %>

    <div class="recipe-notes">
      <div class="note-section">
        <h4>Notes</h4>
        <p><%= @recipe.notes %></p>
      </div>

      <div class="comments-section">
        <h4>Comments</h4>
        <hr></hr>
        <% if @comments.empty? %>
          <p> There are no comments yet for this recipe <p>
        <% end %>
          <% @comments.each do |comment| %>
          <ul>
            <% @comment_user = User.find(comment.user_id) %>
            <li class="comments-left"><span class="username"><%= comment.created_at.strftime("%m/%d/%Y - %I:%M%p") %></span></li><br />
            <li class="comments-left">
              <%= image_tag @comment_user.profile_pic.url(:thumb) %>
              <span class="username"><%= @comment_user.first_name %>:</span>
              <em><%= comment.comments %></em>
            </li><br />

            <% if comment.user_id == session["user_id"] %>
            <span><form action="<%= user_recipe_recipe_comment_path(@user.id, @recipe.id, comment.id) %>" method="POST" class="recipe-display">
                <input type="hidden" name="_method" value="DELETE" />
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                <button class='deletecomment'>x</button></form></span> <br />
            <% end %>
            <br><br />
            <hr></hr>
          </ul>
          <% end %>

          <%= form_for [@user, @recipe, RecipeComment.new] do |f| %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= text_area_tag :comments %><br />
            <%= f.submit "Submit Comment", class:"comment-button"%>
          <% end %>
      </div>
    </div>

    <% unless session["user_id"].nil? || (session["user_id"] != @recipe.user_id) %>
      <div class="update-link">
        <button class="splash-button"><%= link_to "Edit Recipe", edit_user_recipe_path(session["user_id"], @recipe) %></button>
      </div>
    <% end %>

  </div>
</div>

<script>
  Recispeak.steps = <%= raw @allsteps %>;

  $('.add-recipe-to-book').click(function(){
    $('.book-options').toggle("slow");
  });

  $('.note-link').click(function(){
    $('.note-section').toggle("slow", function(){
      $('.comments-section').hide("slow");
      $('.recipe-notes').css("height", "200px");
      $('.update-link').hide(0).delay(500).fadeIn(1000)
    });
  });

  $('.comment-link').click(function(){
    $('.comments-section').toggle("slow", function(){
      $('.note-section').hide("slow", function(){
          $('.recipe-notes').css("height", "650px");
      });
    });
  });

</script>

<%= javascript_include_tag "speech", "data-turbolinks-track" => true %>
