<div class="center-titles">
  <h1><%= @recipe.title %></h1>
  <button id='start-reading'>Begin</button>
</div>

<div class="page-left-container">
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%= ingredient.entry %></li>
    <% end %>
  </ul>
</div>

<div class="page-right-container">
  <ul>
    <% @steps.each do |step| %>
      <li><%= step.instructions %></li>
    <% end %>
  </ul>
</div>

<script>
var steps = <%= raw @allsteps %>
var voices = window.speechSynthesis.getVoices();
var recipeName = '<%=escape_javascript @recipe.title %>'
var welcome = new SpeechSynthesisUtterance("Let's get cookin' with Ressa Speak");
speechSynthesis.speak(welcome);

// $("#start-reading").click(function(){
//   if(i < steps.length){
//     readStep(steps[i])
//     i += 1
//   } else {
//     console.log("no more steps!!")
//   }
// });

$('#start-reading').click(function(){
  var begin = new SpeechSynthesisUtterance("Please get everything ready. When you are comfortable, click to allow microphone access and then say the word next to hear the following step.");
  speechSynthesis.speak(begin);
  recognizer.start();
});

</script>
