<% if session["user_id"].nil? %>
<nav>
  <ul>
    <div class='nav-right'>
      <li><%= link_to "Back", root_path %></li>
    </div>
  </ul>
</nav>
<% end %>

<div class="user-page-container">
  <div class="middle-container">

    <div class="flash-message">
     <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
    </div>

    <div class="center-titles">
      <h1><%= @recipe.title %></h1>
      <button id='start-reading' class='splash-button'>Begin</button>
    </div>

    <div class="page-left-recipe-container">
      <h4>Ingredients</h4><br />
      <ul>
        <% @ingredients.each do |ingredient| %>
        <li><%= ingredient.entry %></li>
        <% end %>
      </ul>
    </div>

    <div class="page-right-recipe-container">
      <h4>Directions</h4><br />
      <ul>
        <% @steps.each do |step| %>
        <li><%= step.instructions %></li>
        <% end %>
      </ul>
    </div>

    <div class="recipe-notes">
      <h3>Notes</h3>
      <p><%= @recipe.notes %></p>
    </div>

<% unless session["user_id"].nil? %>
    <div class="update-link">
      <button class="splash-button"><%= link_to "Edit Recipe", edit_user_recipe_path(session["user_id"], @recipe) %></button>
    </div>
<% end %>
    
  </div>
</div>

<script>
  Recispeak.steps      = <%= raw @allsteps %>;
</script>

<%= javascript_include_tag "speech", "data-turbolinks-track" => true %>
