<div class='user-info-edit'>
<%= form_for @user do |f|%>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br />
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br />
  <%= f.label :email %>
  <%= f.email_field :email %><br />
  <%= f.label "phone number" %>
  <%= f.text_field :phone_number %><br />
  <%= f.label "facebook" %>
  <%= f.text_field :facebook_url%><br />
  <%= f.label "twitter"%>
  <%= f.text_field :twitter_name %><br />
  <%= f.label :street_address %>
  <%= f.text_field :address %><br />
  <%= f.label :city %>
  <%= f.text_field :city %><br />
  <%= f.label :state %>
  <%= f.text_field :state %><br />
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %><br />
  <%= f.label "password(required)" %>
  <%= f.password_field :password %><br />
  <%= f.label "password_confirmation(required)" %>
  <%= f.password_field :password_confirmation %><br />
  <%= f.label :birthday %>
  <%= f.date_field :birthday %><br />
  <%= f.label "Upload Profile Photo" %>
  <%= f.file_field :profile_pic %><br />
  <%= f.submit "Save", class:"splash-button" %>
<% end %>
</div>