  <div class="middle-container-1">
    <div class="flash-message">
     <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
    </div>

    <div class="page-left-container">
      <h3>Welcome <%= @user.first_name %></h3>
      <ul>
        <%= image_tag @user.profile_pic.url(:thumb) %>
        <li id="edit-profile">Edit Profile</li>
        <li><%= link_to "Recipe Books", user_recipe_books_path(@user) %></li>
        <li id="all-my-recipes">My Recipes</li>
        <li><%= link_to "Add Recipe", new_user_recipe_path(@user) %></li>
        <li id="all-recispeak-recipes">All Recispeak Recipes</li>
        <% if current_user.is_admin? %>
        <li><%= link_to "View All Users", users_path %></li>
      <% end %>
      </ul><br /> 
      <h4 style="font-style: italic">Recispeak.com</h4>
    </div>

    <div class="page-right-container">

      <div id="edit-form">
        <%= render "form" %>
      </div>

      <div id="all-user-recipes">
          <h2> Your Recipes </h2>
          <ul class="recipe-titles">
            <% @allrecipes.each do |recipe| %>
              <li><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe.id)%><span><form action="<%= user_recipe_path(recipe.user_id, recipe.id) %>" method="POST" class="recipe-display">
                <input type="hidden" name="_method" value="DELETE" />
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                <button class='deletebutton'>x</button></form></span></li>            
            <% end %>
          </ul>
      </div>

      <div id="recispeak-recipe-list">
          <h2> All Recipes</h2>
          <ul class="recipe-titles">
            <% @allrecipes_on_recispeak.each do |recipe| %>
              <li><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe.id)%></li>           
            <% end %>
          </ul>
      </div>
</div>

<script>
function windowH() {
   var wH = $(window).height();

   $('.middle-container-1, .page-left-container, .page-right-container').css({height: wH});
}

windowH();

$(document).ready(function(){
  $(".page-left-container").hide(0).delay(10).fadeIn(500)
});

$(document).ready(function(){
  $(".page-right-container").hide(0).delay(10).fadeIn(500)
});

$('#edit-profile').click(function(){
  $('#edit-form').toggle("slow", function(){
    $('#all-user-recipes').hide("slow", function(){
      $('#recispeak-recipe-list').hide("slow")
    });
  });
});

$('#all-my-recipes').click(function(){
  $('#all-user-recipes').toggle("slow", function(){
    $('#edit-form').hide("slow", function(){
      $('#recispeak-recipe-list').hide("slow");
    });
  });
});


$('#all-recispeak-recipes').click(function(){
  $('#recispeak-recipe-list').toggle("slow", function(){
      $('#edit-form').hide("slow", function(){
          $('#all-user-recipes').hide("slow");
    });
  });
});

$('.input-site-info').click(function(){
  $('#compatible-sites').toggle("slow", function(){
    $('#welcome-blurb').hide("slow", function(){
      $('#edit-form').hide("slow", function(){
        $('#all-user-recipes').hide("slow", function(){
          $('#recispeak-recipe-list').hide("slow");
        });
      });
    });
  });    
});

</script>