<div class="user-page-container">

  <div class="middle-container">
    <div class="page-left-container">
    <ul>
      <li id="edit-profile"><button class="btn btn-danger">Edit Profile</button></li>
      <li><button id="all-my-recipes", class="btn btn-success">My Recipes</button></li>
      <li><button class="btn btn-danger"><%= link_to "Add Recipe", new_user_recipe_path(@user) %></button></li>
    </ul>
  </div>
  <%= raw("<p><strong class='success'>#{flash[:notice]}</strong></p>") unless flash[:notice].nil? %>
    <div class="page-right-container">
      
      <div id="welcome-blurb">
        <h1>Welcome <%= @user.first_name %> to</h1>
        <div class="logo-main">
          <p>Recispeak</p>
        </div>
        <h2>Let's Get Cookin'</h2>
      </div>

      <div id="edit-form">
        <%= render "form" %>
      </div>

      <div id="all-user-recipes">
        <div class="center-titles">
          <h1> All of your recipes </h1>
          <ul>
            <% @allrecipes.each do |recipe| %>
              <li><%= link_to recipe.title, user_recipe_path(recipe.user_id, recipe.id) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
$(document).ready(function(){
  $(".page-left-container").hide(0).delay(10).fadeIn(500)
});

$(document).ready(function(){
  $(".page-right-container").hide(0).delay(10).fadeIn(500)
});

$('#edit-profile').click(function(){
  $('#edit-form').toggle("slow", function(){
    $('#welcome-blurb').toggle("slow", function(){
      $('#all-user-recipes').hide("slow");
    });
  });
});

$('#all-my-recipes').click(function(){
  $('#all-user-recipes').toggle("slow", function(){
    $('#welcome-blurb').toggle("slow", function(){
      $('#edit-form').hide("slow");
    });
  });
});

</script>