<!DOCTYPE html>
<head>
  <title>Recispeak.com</title>
</head>   
<body>
<div class="page-container"> 
  <header>
  </header>
    <div class="logo-main">
      <p>Recispeak</p>
    </div>
    <div id="login">
      <% if session[:user_id].nil? %>
        <%= form_tag session_path do%>
        <%= label_tag "Email" %><br />
        <%= text_field_tag :email %><br />
        <%= label_tag "Password" %><br />
        <%= password_field_tag :password %><br />
        <%= submit_tag "Sign In", class:"btn btn-success" %>
        <% end %><br />
        <%= link_to "Sign Up", new_user_path, class:"btn btn-danger"%>
      <% end %> 
    </div>
  <div class="footer-bar">
    <ul>
      <li>• Browse Recipes •</li>
    </ul>
  </div>
</div>

<div class="how-it-works">
  <ul class="list">
      <li class="step">
        <%= image_tag("arrowicon.png") %>
        <span>Add new recipes to your profile!</span>
      </li>
      <li class="step">
        <%= image_tag("arrowicon.png") %>
        <span>Click on the recipe you want to cook and then press Begin</span>
  
      </li>
      <li class="step">
         <%= image_tag("arrowicon.png") %>
         <span>
         Recispeak will walk you step by step through your recipe while you cook.</span>
      </li>
    </ul>
</div>
</body>
<script>
  $(document).ready(function(){
    $("#logo").hide(0).delay(10).fadeIn(2000)
  });
</script>