<!DOCTYPE html>
<head>
  <title>Recispeak.com&trade;</title>
</head>   
<body>
<div class="page-container"> 
  <header>
  </header>
  <nav>
    <div id="login">
      <% if session[:user_id].nil? %>
        <%= form_tag session_path do%>
        <%= label_tag "Email: " %>
        <%= text_field_tag :email %>
        <%= label_tag "Password: " %>
        <%= password_field_tag :password %>
        <%= submit_tag "Sign In", class:"splash-button" %>
          <p class="splash-button-signup"><%= link_to "Sign Up Here", new_user_path%></p>
        <% end %>
      <% end %> 
    </div>
  </nav>
    <div class="logo-main">
      <p>Recispeak<span>&trade;<span></p>
    </div>
    
    <div class="flash-message-login">
     <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
    </div>

<div class="how-it-works">
</div>
  <div class="footer-bar">
    <ul>
      <li><%= link_to "• Browse Recipes •", recipes_path %></li>
    </ul>
  </div>
</div>

<div class='explanation'>
  <ul class="list">
      <li class="step">
        <%= image_tag("plus.png") %>
        <p>Add new</p>
        <p>recipes to</p>
        <p>your profile!</p>
      </li>
      <li class="step">
        <%= image_tag("play.png") %>
        <p>Click on the recipe</p>
        <p>you want to cook</p>
        <p>and then press Begin</p>
  
      </li>
      <li class="step">
        <%= image_tag("mic.png") %>
        <p>Recispeak waits</p>
        <p>for your command</p>
        <p>speak "next" to advance</p>
      </li>
      <li class="step">
        <%= image_tag("listen.png") %>
        <p>Recispeak will walk you</p>
        <p>step by step through </p>
        <p>your recipe while you cook.</p>
      </li>
    </ul>
    <h3>How It Works</h3>
</div>

<div class='more-info'>
  <div class='social-blurb'>
    <p>Thanks for visiting</p><br />
    <p class="logo-main">Recispeak<span>&trade;<span></p><br />
  </div>
  <div class="spoon-icons-email">
    <a href="#"><%= image_tag 'email.png' %></a>
  </div>

  <div class="spoon-icons-pinterest">
    <a href="#"><%= image_tag 'pinterest.png' %></a>
  </div>

  <div class="spoon-icons-twitter">
    <a href="#"><%= image_tag 'twitter.png' %></a>
  </div>
</div>
</body>

<script>
  $(document).ready(function(){
    $("#logo").hide(0).delay(10).fadeIn(2000)
  });

    $(window).scroll(function() {
    if ( $(window).scrollTop() >= 325 ) {
        $('.more-info').fadeIn(2000);
    } else {
      $('.more-info').attr("style", '');
    }
});
</script>