<!DOCTYPE html>
<head>
  <title>Recispeak.com</title>
</head>
    
<body>
  <header>
    <div id="logo">
      <h1> Welcome To </h1>
      <h1> <span>R</span>eci<span>s</span>peak</h1>
    </div>
    
    <div id="login">
      <% if session[:user_id].nil? %>
        <%= form_tag session_path do%>
        <%= label_tag "email: " %>
        <%= text_field_tag :email%>
        <%= label_tag "password: " %>
        <%= password_field_tag :password%>
        <%= submit_tag "Sign In" %>
        <% end %>
      <% end %>
    </div>

    <ul>
      <li><%= link_to "Click Here to Get Started", new_user_path %></li>
      <li>Browse Recipes</li>
    </ul>

  </header>
</body>
<script>
  $(document).ready(function(){
    $("#logo").hide(0).delay(10).fadeIn(2000)
  })
</script>