<!DOCTYPE html>
<head>
  <title>Recispeak.com</title>
</head>   
<body>
<div class="page-container"> 
  <header>
  </header>
    <div id="logo-main">
      <p>Recispeak</p>
    </div>
    <div id="login">
      <% if session[:user_id].nil? %>
        <%= form_tag session_path do%>
        <%= label_tag "Email" %><br />
        <%= text_field_tag :email %><br />
        <%= label_tag "Password" %><br />
        <%= password_field_tag :password %><br />
        <%= submit_tag "Sign In", class:"btn btn-success" %>
        <% end %><br />
        <%= link_to "Sign Up", new_user_path, class:"btn btn-danger"%>
      <% end %>
      
    </div>

  <div class="main-page-blurb">
    <h2>Sign up and Let's Get Cookin'</h2><br />
    <div class="inner-blurb">
      <h4>What happens when you click to begin a recipe?</h4><br />
      <p><span>Me: </span>  Say 'Next' when you are ready to start</p>
      <p><span>You:</span>  Next</p>
      <p><span>Me: </span>  Boil the water for 10 minutes</p>
      <p><span>You:</span>  Next</em></p>
      <p><span>Me: </span>  Add in the pasta and 2 pinches of salt</p>
    </div>
  </div>
  </div>
</body>
<script>
  $(document).ready(function(){
    $("#logo").hide(0).delay(10).fadeIn(2000)
  });
</script>