<!DOCTYPE html>
<head>
  <title>Recispeak.com</title>
</head>   
<body>
<div class="page-container"> 
  <header>
  </header>
    <div class="logo-main">
      <p>Recispeak</p>
    </div>
    <div id="login">
      <% if session[:user_id].nil? %>
        <%= form_tag session_path do%>
        <%= label_tag "Email" %><br />
        <%= text_field_tag :email %><br />
        <%= label_tag "Password" %><br />
        <%= password_field_tag :password %><br />
        <%= submit_tag "Sign In", class:"btn btn-success" %>
        <% end %><br />
        <%= link_to "Sign Up", new_user_path, class:"btn btn-danger"%>
      <% end %> 
    </div>

<div class="how-it-works">
  <ul class="list">
      <li class="step">
        <%= image_tag("plus.png") %>
        <p>Add new</p>
        <p>recipes to</p>
        <p>your profile!</p>
      </li>
      <li class="step">
        <%= image_tag("play.png") %>
        <p>Click on the recipe</p>
        <p>you want to cook</p>
        <p>and then press Begin</p>
  
      </li>
      <li class="step">
        <%= image_tag("listen.png") %>
        <p>Recispeak will walk you</p>
        <p>step by stepthrough </p>
        <p>your recipe while you cook.</p>
      </li>
    </ul>
</div>
  <div class="footer-bar">
    <ul>
      <li>• Browse Recipes •</li>
      <li id="how-it-works-link">•How does it work? •</li>
    </ul>
  </div>
</div>
</body>
<script>
  $(document).ready(function(){
    $("#logo").hide(0).delay(10).fadeIn(2000)
  });

  $('#how-it-works-link').click(function(){
    $('.how-it-works').toggle("slow");
  });
</script>