<div class="middle-container">
    <div class="flash-message">
     <%= raw("<p>#{flash[:message]}</p>") unless flash[:message].nil? %>
    </div>

    <div class="page-left-container">
      <h3>Recispeak Books</h3>
      <ul>
        <li id="new-book-form"><%= link_to "Books Home", user_recipe_books_path(@user) %></li>
        <% @books.each do |book| %>
        <li><%= link_to "#{book.title}", user_recipe_book_path(@user, book.id), class:"user-menu-buttons-books" %></li>
        <% end %>
      </ul>
    </div>
 
    <ul class="list-recipes-in-book">
    <h2><%= @recipe_book.title %></h2>
    <hr></hr>  
      <% @recipes.each do |recipe| %>
      <% recipe_name = Recipe.find_by(id: recipe.recipe_id) %>
        <li><%= link_to "#{recipe_name.title}", user_recipe_path(@user, recipe_name.id) %><span><form action="<%= user_recipe_book_entry_path(@user.id, recipe.id) %>" method="POST" class="recipe-display">
                <input type="hidden" name="_method" value="DELETE" />
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
                <button class='deletebutton'>x</button></form></span></li> 
      <% end %>
    </ul>

</div>


<script>
$(document).ready(function(){
  $(".page-right-container-books").hide(0).delay(20).fadeIn(900)
});

</script>