<!DOCTYPE html>
<html>
<head>
  <title>Recispeak</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% unless @user.nil? %>
    <script>
    localStorage["user_id"] = <%= @user.id %>
    </script>
  <% end %>

</head>
<body>
  <% unless session["user_id"].nil? %>
  <nav>
    <ul>
      <div class='nav-middle'>
        <li><span>ReciSpeak</span></li>
      </div>
      <div class='nav-right'>
        <li><%= link_to "Home", user_path(session["user_id"]) %></li>
        <li><%= link_to "Log Out", "/session", method: "delete" %></li>
      </div>
    </ul>
  </nav>
  <% end %>

<%= yield %>

</body>
</html>
